.full-width-table {
 width: 100%; 
border:2px #82b5e1f7; 
border-radius: 5px;

}

.container{
  width: 80;
  border:2px #82b5e1f7;
  border-radius: 5px;
  background-color: #82b5e1f7;
  color: #82b5e1f7;
}