<div class="container">
    <div class="container">
        <h2 style="color: #82b5e1f7;">Bills Of Materials</h2>
    </div>
    <div class="container" width="30" style="border:2px #387ebcf7;
    border-radius: 8px;
    padding: 5px;">
<!-- <form [formGroup]="tableForm"> -->
<div class="formGroup">
<table class="table table-bordered" class="m-2 p-2 w-full border-black rounded-lg shadow-sm">


    <tr class="col-md-4">
        <td class="col-md-4">
            <input type="text" placeholder="Product Relation" class="p-2 w-full rounded-lg shadow-sm #387ebcf7" 
            >&nbsp;&nbsp;
            <input type="text" 
            required placeholder="Final Product Name*" class="p-2 w-full rounded-lg shadow-sm #387ebcf7">&nbsp;&nbsp;
            <input type="text" 
            required placeholder="Session*" class="p-2 w-full rounded-lg shadow-sm #387ebcf7">&nbsp;&nbsp;
        </td>
    </tr>

    <tr class="col-md-4">
        <td class="col-md-4">
            <input type="text" placeholder="BOM Title" class="p-2 w-full rounded-lg shadow-sm #387ebcf7" >&nbsp;&nbsp;
            <input type="text" placeholder="Product Code" class="p-2 w-full rounded-lg shadow-sm #387ebcf7" >&nbsp;&nbsp;
            <input type="text" placeholder="Duration" class="p-2 w-full rounded-lg shadow-sm #387ebcf7" >&nbsp;&nbsp;
        </td>
    </tr>

    <tr class="col-md-4">
        <td class="col-md-4">
            <input type="text" placeholder="Stock Control Account*" class="p-2 w-full rounded-lg shadow-sm #387ebcf7" >&nbsp;&nbsp;
            <input type="text" placeholder="Product Grade" class="p-2 w-full rounded-lg shadow-sm #387ebcf7">&nbsp;&nbsp;
            <input type="text" placeholder="No of Issue" class="p-2 w-full rounded-lg shadow-sm #387ebcf7">&nbsp;&nbsp;
        </td>
    </tr>

    <tr class="col-md-4">
        <td class="col-md-4">
            <input type="text" placeholder="Output Qty" class="p-2 w-full rounded-lg shadow-sm #387ebcf7">&nbsp;&nbsp;
            <input type="text" placeholder="UDM" class="p-2 w-full rounded-lg shadow-sm #387ebcf7" >&nbsp;&nbsp;
            <input type="text" placeholder="Notes" class="p-2 w-full rounded-lg shadow-sm #387ebcf7">&nbsp;&nbsp;
        </td>
    </tr>

</table>

<div class="p-2 w-full rounded-lg shadow-sm">
<!-- <button type="button" class="btn btn-primary rounded-sm ">Add Data</button> -->
</div>
</div>
<!-- </form> -->

<div class="container">
   <app-data-table></app-data-table>
</div>
